# Ignore Python virtual environment
venv/

# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore VS Code settings (optional)
.vscode/

# Ignore Jupyter Notebook checkpoints (optional)
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
